.btn-primary {
   color: #fff;
   background-color: #004CA3;
   border-color: #004CA3;
}
.navbar-dark .navbar-toggler{
   border-color: #0C0C0C;
}
.navbar-dark .navbar-toggler-icon {
   background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(12, 12, 12)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}
.caixa {
   padding: 60px 0;
   border-bottom: 1px solid #e5e5e5;
}

footer p a{
   margin: 0 15px;
}
footer #social-media{
   justify-content: end;
}

/*Media Queries*/
@media (max-width: 991px){
   #home img{
      width: 100%;
   }
}
@media (max-width: 767px){
   #home img{
      width: 400px;
   }
   #container-mulher{
      text-align: center;
   }
   footer #social-media,
   footer #footer-links {
      justify-content: center;
   }
}
@media (max-width: 425px){
   #home img{
      width: 100%;
   }
   #home form .form-control{
      width: 100%;
   }
   .input-group-append {
      margin-top: 15px;
  }
  .input-group{
      display: block;

  }
  .input-group-lg>.input-group-append>.btn {
      width: 100%;
  }
   #home form input,
   #home form button{
      border-radius: 4.8px;
   }
   #home h1{
      font-size: 2.9em;
   }
}
@media (max-width: 340px){
   #home h1{
      font-size: 2.3em;
   }
}
@media (max-width: 250px){
   .navbar-brand img{
      width: 130px;
   }
   #home h1{
      font-size: 2em;
   }
   #home .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
      height: calc(1.8125rem + 2px);
      padding: 0.25rem 0.5rem;
      font-size: .875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
   }
}

